In [10]:
import pandas as pd
import os
print(os.path.abspath('.'))
df = pd.read_csv('../data/csv/titanic_data.csv')
df.head()

D:\code\Ai_starter\directory1

,x,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,"Montreal, PQ / Chesterville, ON"

In [12]:
df.tail(10)

,x,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
1299,1300,3,0,"Yasbeck, Mr. Antoni",male,27,1,0,2659,14.4542,?,C,?
1300,1301,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,?,C,?
1301,1302,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,?,C,?
1302,1303,3,0,"Yousif, Mr. Wazli",male,?,0,0,2647,7.225,?,C,?
1303,1304,3,0,"Yousseff, Mr. Gerious",male,?,0,0,2627,14.4583,?,C,?
1304,1305,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?
1305,1306,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?
1306,1307,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?
1307,1308,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?
1308,1309,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   x          1309 non-null   int64
 1   pclass     1309 non-null   int64
 2   survived   1309 non-null   int64
 3   name       1309 non-null   object
 4   sex        1309 non-null   object
 5   age        1309 non-null   object
 6   sibsp      1309 non-null   int64
 7   parch      1309 non-null   int64
 8   ticket     1309 non-null   object
 9   fare       1309 non-null   object
 10  cabin      1309 non-null   object
 11  embarked   1309 non-null   object
 12  home.dest  1309 non-null   object
dtypes: int64(5), object(8)
memory usage: 133.1+ KB

In [20]:
age = df['age']
age[:10]

0        29
1    0.9167
2         2
3        30
4        25
5        48
6        63
7        39
8        53
9        71
Name: age, dtype: object

In [22]:
df.iloc[0]

x                                        1
pclass                                   1
survived                                 1
name         Allen, Miss. Elisabeth Walton
sex                                 female
age                                     29
sibsp                                    0
parch                                    0
ticket                               24160
fare                              211.3375
cabin                                   B5
embarked                                 S
home.dest                     St Louis, MO
Name: 0, dtype: object

In [25]:
df = pd.DataFrame([[1,2,3],[4,5,6]],index = ['a','b'],columns= ['A','B','C'])
print(df)

   A  B  C
a  1  2  3
b  4  5  6

In [27]:
df.sum()

A    5
B    7
C    9
dtype: int64

In [30]:
df.sum(axis=0)

A    5
B    7
C    9
dtype: int64

In [44]:
df.iloc[0].shape

(3,)

In [48]:
df = pd.read_csv('../data/csv/titanic_data.csv')
df.describe()

                 x       pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean    655.000000     2.294882     0.381971     0.498854     0.385027
std     378.020061     0.837836     0.486055     1.041658     0.865560
min       1.000000     1.000000     0.000000     0.000000     0.000000
25%     328.000000     2.000000     0.000000     0.000000     0.000000
50%     655.000000     3.000000     0.000000     0.000000     0.000000
75%     982.000000     3.000000     1.000000     1.000000     0.000000
max    1309.000000     3.000000     1.000000     8.000000     9.000000

In [50]:
df.cov()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_69296\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                      x      pclass   survived      sibsp     parch
x         142899.166667  284.357034 -53.967125  25.828746  1.172783
pclass       284.357034    0.701969  -0.127248   0.053090  0.013287
survived     -53.967125   -0.127248   0.236250  -0.014088  0.034776
sibsp         25.828746    0.053090  -0.014088   1.085052  0.336833
parch          1.172783    0.013287   0.034776   0.336833  0.749195

In [52]:
df.corr()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_69296\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                 x    pclass  survived     sibsp     parch
x         1.000000  0.897822 -0.293717  0.065594  0.003584
pclass    0.897822  1.000000 -0.312469  0.060832  0.018322
survived -0.293717 -0.312469  1.000000 -0.027825  0.082660
sibsp     0.065594  0.060832 -0.027825  1.000000  0.373587
parch     0.003584  0.018322  0.082660  0.373587  1.000000

In [58]:
df.info()
df.pivot_table(index='sex',columns='pclass',values='fare',aggfunc='max')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   x          1309 non-null   int64
 1   pclass     1309 non-null   int64
 2   survived   1309 non-null   int64
 3   name       1309 non-null   object
 4   sex        1309 non-null   object
 5   age        1309 non-null   object
 6   sibsp      1309 non-null   int64
 7   parch      1309 non-null   int64
 8   ticket     1309 non-null   object
 9   fare       1309 non-null   object
 10  cabin      1309 non-null   object
 11  embarked   1309 non-null   object
 12  home.dest  1309 non-null   object
dtypes: int64(5), object(8)
memory usage: 133.1+ KB

pclass     1       2       3
sex
female  93.5      65  9.8417
male    93.5  9.6875       ?

In [74]:
print(df.groupby('sex')['age'].size())

sex
female    466
male      843
Name: age, dtype: int64